.recovery__text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 2.4rem;
}

.recovery__btns {
    margin-top: 2.4rem;
    display: flex;
    align-items: center;
    gap: 24px;
}

.recovery__back {
    color: var(--mainC);
    cursor: pointer;
}

.recovery__text span {
    cursor: pointer;
    color: var(--mainC);
}

.sign__step-inner {
    width: 100%;
}

.recovery__link {
    margin-top: 2.4rem;
    display: block;
    color: var(--mainC);    
}

@media(max-width: 768px){
    .recovery__title {
        align-self: center;
    }
}
@media(max-width: 480px){
    .recovery__btn {
        width: 100%;
    }
}