.recovery__text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 2.4rem;
}

.recovery__btns {
    width: 100%;
    margin-top: 2.4rem;
    display: flex;
    align-items: center;
    gap: 24px;
}

.recovery__back {
    color: var(--mainC);
    cursor: pointer;
}

.recovery__text span {
    cursor: pointer;
    color: var(--mainC);
}

.sign__step-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.recovery__link {
    margin-top: 2.4rem;
    display: block;
    color: var(--mainC);    
}

.recovery__btn {
    width: 100%;
}

@media(max-width: 768px){
    .recovery__link {
        font-size: 1.4rem;
    }
}
@media(max-width: 480px){
    .recovery__btn {
        width: 100%;
    }
}