.sign__info {
    width: calc(50% - 48px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.register__icon {
    width: 100%;
    max-width: 392px;
}

.sign__info--title {
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: 500;
}

.sign__info--points {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.sign__info--point {
    position: relative;
    padding-left: 1.8rem;
    color: var(--textC);
}

.sign__info--point:before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--mainC);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

@media (max-width: 998px) {
    .sign__info {
        width: calc(50% - 24px);
    }
}

@media (max-width: 768px) {
    .sign__info {
        display: none;
    }
}