.input__inner{
    width: 100%;
    position: relative;
}

.default__input{
    width: 100%;
    border: 1px solid var(--inputC);
    padding: 1.2rem 2rem;
    border-radius: 50px;
    color: #000;
    background: #fff;
}

.password__input{
    padding: 1.2rem 5.6rem 1.2rem 2rem;
}

.default__input:focus{
    border: 1px solid var(--mainC);
}

.default__input:read-only:focus{
    border: 1px solid var(--inputC);
}

.input__icon{
    width: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
}

.input__icon path{
    stroke: rgba(0, 0, 0, .5);
}

@media(max-width: 480px){
    .default__input{
        padding: 1rem 2rem;
        font-size: 1.4rem;
    }

    .password__input{
        padding: 1rem 5.6rem 1rem 2rem;
    }
}