.input__item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.input__inner{
    width: 100%;
    position: relative;
}

.default__input{
    width: 100%;
    border: 1px solid var(--inputC);
    padding: 1.2rem 2rem;
    border-radius: 50px;
    font-size: 1.4rem;
    color: #000;
    background: #fff;
    box-shadow: none;
}

.default__input input{
    line-height: unset!important;
}

.default__input:focus, .ant-picker-focused{
    border: 1px solid var(--mainC)!important;
}

.default__input:read-only:focus{
    border: 1px solid var(--inputC)!important;
}

.default__input:hover{
    border: 1px solid var(--inputC);
}

.password__input{
    padding: 1.2rem 5.6rem 1.2rem 2rem;
}

.input__icon{
    width: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
}

.input__icon path{
    stroke: rgba(0, 0, 0, .5);
}

.input__title{
    font-size: 1.3rem;
}

@media(max-width: 480px){
    .default__input{
        padding: 1rem 1.6rem;
        font-size: 1.4rem;
    }

    .password__input{
        padding: 1rem 4.8rem 1rem 1.6rem;
    }

    .input__icon{
        right: 12px;
    }
}