.credit-card {
    width: 100%;
    padding: 6rem 0;
}

.credit-card__inner {
    padding: 6rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--creditCardBg);
    border-radius: 8px;
}

.credit-card__content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
}

.credit-card__title {
    font-weight: 600;
    font-size: 28px;
    color: #000;
}

.credit-card__text {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    max-width: 520px;
}

.credit-card__text span {
    font-weight: 600;
}

.credit-card__button {
    margin-top: auto;
}

.credit-card__icon {
    width: 100%;
    max-width: 324px;
    min-height: 206px;
}

.main-block {
    padding: 6rem 0;
    width: 100%;
}

.main-block__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main-block__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 4rem;
}

.main-block__title {
    font-weight: 700;
    font-size: 4rem;
}

.main-block__text {
    font-weight: 500;
    font-size: 1.6rem;
    max-width: 50rem;
}