/* credit-card */
.credit-card {
    width: 100%;
    padding: 6rem 0;
}

@media (max-width:992px) {
    .credit-card {
        padding: 5rem 0;
    }
}

@media (max-width:768px) {
    .credit-card {
        padding: 4rem 0;
    }
}

.credit-card__inner {
    padding: 6rem;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    background-color: var(--creditCardBg);
    border-radius: 8px;
}

@media (max-width:992px) {
    .credit-card__inner {
        padding: 4rem;
    }
}

@media (max-width:768px) {
    .credit-card__inner {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 3rem 2rem;
    }
}

.credit-card__content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
}

@media (max-width:768px) {
    .credit-card__content {
        gap: 20px;
        align-items: center;
    }
}

.credit-card__title {
    font-weight: 600;
    color: #000;
}

@media(max-width: 768px) {
    .credit-card__title {
        text-align: center;
    }
}

.credit-card__text {
    font-weight: 400;
    font-size: 1.6rem;
    color: #000;
    max-width: 520px;
}

.credit-card__text span {
    font-weight: 600;
}

@media(max-width: 768px) {
    .credit-card__text {
        text-align: center;
    }
}

.credit-card__button {
    margin-top: auto;
}

.credit-card__icon {
    width: 100%;
    max-width: 324px;
    min-height: 206px;
}

@media (max-width:768px) {
    .credit-card__icon {
        max-width: 260px;
        min-height: unset;
    }
}

.main-block {
    padding: 6rem 0;
    width: 100%;
}

@media (max-width:992px) {
    .main-block {
        padding: 5rem 0;
    }
}

@media (max-width:768px) {
    .main-block {
        padding: 4rem 0;
    }
}

.main-block__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

@media (max-width:820px) {
    .main-block__inner {
        justify-content: flex-start;
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width:576px) {
    .main-block__inner {
        gap: 25px;
    }
}

/* main-block */
.main-block__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    max-width: 500px;
    min-width: 360px;
    flex-shrink: 2;
}

@media (max-width:992px) {
    .main-block__content {
        gap: 30px;
    }
}

@media (max-width:820px) {
    .main-block__content {
        min-width: unset;
        max-width: unset;
    }
}

@media (max-width:768px) {
    .main-block__content {
        gap: 25px;
    }
}

@media (max-width:576px) {
    .main-block__content {
        gap: 20px;
    }
}

.main-block__title {
    font-size: 4rem;
}

@media (max-width:992px) {
    .main-block__title {
        font-size: 3.5rem;
    }
}

@media (max-width:768px) {
    .main-block__title {
        font-size: 3rem;
    }
}

.main-block__text {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.4;
}

/* services */
.services {
    padding: 6rem 0;
    width: 100%;
}

@media (max-width:992px) {
    .services {
        padding: 5rem 0;
    }
}

@media (max-width:768px) {
    .services {
        padding: 4rem 0;
    }
}

.services__inner {
    width: 100%;
}

.services__title {
    margin-bottom: 3.2rem;
    text-align: center;
}

@media (max-width:768px) {
    .services__title {
        margin-bottom: 2rem;
    }
}

.services__items {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
}

@media (max-width:768px) {
    .services__items {
        gap: 20px;
    }
}

/* cashback */
.cashback {
    padding: 6rem 0;
    width: 100%;
}

@media (max-width:992px) {
    .cashback {
        padding: 5rem 0;
    }
}

@media (max-width:768px) {
    .cashback {
        padding: 4rem 0;
    }
}

.cashback__inner {
    width: 100%;
}

.cashback__title {
    margin-bottom: 3.2rem;
    text-align: center;
}

@media (max-width:768px) {
    .cashback__title {
        margin-bottom: 2rem;
    }
}

.cashback__items {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
}

@media (max-width:768px) {
    .cashback__items {
        gap: 20px;
    }
}

/* banner */
.banner {
    width: 100%;
    padding: 6rem 0;
}

@media (max-width:992px) {
    .banner {
        padding: 5rem 0;
    }
}

@media (max-width:768px) {
    .banner {
        padding: 4rem 0;
    }
}

.banner__inner {
    width: 100%;
    background-color: var(--creditCardBg);
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
    min-height: 492px;
    position: relative;
    border-radius: 8px;
}

@media (max-width:992px) {
    .banner__inner {
        min-height: unset;
        padding: 3rem;
    }
}

@media (max-width:768px) {
    .banner__inner {
        padding: 3rem 2rem;
    }
}

.banner__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 570px;
    height: 492px;
}

@media (max-width:992px) {
    .banner__image {
        display: none;
    }
}

.banner__icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

@media (max-width:768px) {
    .banner__icons {
        gap: 20px;
    }
}

.banner__icon--inner {
    width: 120px;
    height: 120px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:576px) {
    .banner__icon--inner {
        width: 100px;
        height: 100px;
    }
}

.banner__icon--inner_qr {
    background-color: #fff;
}

.banner__icon--inner_logo {
    background-color: #FFDD2D;
}

.banner__icon {
    width: 90px;
    height: auto;
}

@media (max-width:768px) {
    .banner__icon {
        width: 70px;
    }
}

.banner__text-block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
    max-width: 600px;
}

@media (max-width:1190px) {
    .banner__text-block {
        max-width: 450px;
    }
}

@media (max-width:992px) {
    .banner__text-block {
        max-width: unset;
        gap: 20px;
    }
}

.banner__title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.25;
    text-transform: uppercase;
}

@media (max-width:768px) {
    .banner__title {
        font-size: 2rem;
    }
}

.banner__text {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
}

.banner__downloads {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.banner__link {
    display: flex;
    transition: .3s;
}

.banner__link:hover {
    opacity: 0.7;
}

/* faq */
.faq {
    width: 100%;
    padding: 6rem 0;
}

@media (max-width:992px) {
    .faq {
        padding: 5rem 0;
    }
}

@media (max-width:768px) {
    .faq {
        padding: 4rem 0;
    }
}

.faq__inner {
    width: 100%;
}

.faq__title {
    text-align: center;
    margin-bottom: 3.2rem;
}

@media (max-width:768px) {
    .faq__title {
        margin-bottom: 2rem;
    }
}

.faq__items {
    width: 100%;
}

/* confirm-popup */
.confirm-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    overflow: auto;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    padding: 0 2rem;
}

.confirm-popup.active {
    opacity: 1;
    visibility: visible;
}

.confirm-popup.active .confirm-popup__inner {
    transform: scale(1);
}

.confirm-popup__container {
    width: 100%;
    max-width: 600px;
    min-height: calc(100% - 40px);
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s linear;
}

.confirm-popup__inner {
    width: 100%;
    min-height: 320px;
    padding: 3.2rem;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    transform: scale(0);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

@media (max-width:768px) {
    .confirm-popup__inner {
        min-height: 240px;
        padding: 2.4rem;
        gap: 16px;
    }
}

@media (max-width:480px) {
    .confirm-popup__inner {
        padding: 2rem 1.2rem 1.2rem;
    }
}

.confirm-popup__title {
    font-weight: 600;
    font-size: 2.4rem;
    text-align: center;
}

@media (max-width:768px) {
    .confirm-popup__title {
        font-size: 2rem;
    }
}

.confirm-popup__text {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.confirm-popup__btns {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

@media (max-width:768px) {
    .confirm-popup__btns {
        gap: 16px;
    }
}

@media (max-width:480px) {
    .confirm-popup__btns {
        flex-direction: column-reverse;
        gap: 12px;
    }
}

.confirm-popup__btn {
    width: calc(100% / 2 - 24px / 2);
}

@media (max-width:768px) {
    .confirm-popup__btn {
        width: calc(100% / 2 - 16px / 2);
    }
}

@media (max-width:480px) {
    .confirm-popup__btn {
        width: 80%;
    }
}

@media (max-width:370px) {
    .confirm-popup__btn {
        width: 100%;
    }
}

.default__button.red-btn {
    background-color: var(--notifError);
}

.default__button.red-btn:hover {
    background-color: var(--errorHover);
}