.unavailable {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.unavailable__icon--inner {
    width: 100%;
    max-width: 480px;
}

.unavailable__icon {
    width: 100%;
    height: auto;
}

.unavailable__text {
    font-weight: 500;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

@media (max-width:992px) {
    .unavailable__text {
        margin-top: 30px;
    }
}

@media (max-width:768px) {
    .unavailable__text {
        font-size: 16px;
    }
}

@media (max-width:480px) {
    .unavailable__text {
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 14px;
    }

    .unavailable__button {
        width: 100%;
    }
}