.profile__content--limit--inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.profile__content--limit--title {
    font-size: 1.8rem;
}

.profile__content--limit--title,
.profile__content--limit--value {
    font-weight: 500;
}

.profile__content--limit--value {
    font-size: 1.4rem;
}

.profile__content--limit--value span {
    font-weight: 600;
}

.profile__content--limit--content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.profile__content--limit--content--nums {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile__content--limit--content--num {
    font-size: 1.4rem;
    font-weight: 500;
}

.profile__content--limit--line {
    width: 100%;
    height: 4px;
    border-radius: 8px;
    background: #fff;
    position: relative;
    overflow: hidden;
}

.profile__content--limit--line--progress {
    height: 4px;
    background: var(--mainC);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    transition: .2s linear;
}

.profile__content--limit--line--progress.orange {
    background: #e59313;
}

.profile__content--limit--line--progress.red {
    background: #e51313;
}

.profile__bill--content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    max-height: calc(65px * 4 + 12px * 3);
    overflow-y: hidden;
}

.profile__bill--content.active {
    max-height: unset;
}

.transfer__info--button{
    padding: 1.2rem 4.4rem;
}

/* История платежей */
.history__inner{
    width: 100%;
    background: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.6rem 0 4rem 0;
}

.history__title{
    font-weight: 600;
    padding-left: 1.6rem;
}

.history__content{
    width: 100%;
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.history__item{
    width: 100%;
    padding: 0.8rem 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid var(--borderC);
    gap: 4px;
}

.history__item:first-child{
    border-top: 1px solid var(--borderC);
}

.history__item--content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
}

.history__item--first{
    display: flex;
    align-items: center;
    gap: 12px;
}

.history__item--organization--icon--inner{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    flex-shrink: 0;
    background: var(--borderC);
    display: flex;
    align-items: center;
    justify-content: center;
}

.history__item--organization--icon{
    max-width: 70%;
    flex-shrink: 0;
}

.history__item--last, .history__item--info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}

.history__item--info{
    align-items: flex-start;
}

.history__item--info--name{
    font-size: 1.4rem;
    font-weight: 500;
}

.history__item--info--date, .history__item--info--type{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .65);
}

.history__item--info--money{
    font-size: 1.4rem;
    font-weight: 500;
}

.history__item--info--money.red{
    color: #EF3B3B;
}

.history__item--info--money.green{
    color: #10B97B;
}

.history__comment{
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
    border-radius: 4px;
    background: var(--borderC);
    margin-left: 6rem;
}

.profile__content--inner {
    width: 100%;
    position: relative;
}

.profile__content--card--options {
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 8px;
}

.profile__content--card--options--btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--creditCardBg);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s linear;
}

@media (any-hover:hover) {
    .profile__content--card--options--btn:hover {
        background-color: var(--submenuItemHoverC);
    }
}

.profile__content--card--options--icon {
    width: 24px;
    height: 24px;
}

.profile__content--card--options--icon path {
    stroke: var(--mainC);
}