.cards-popup__item {
    padding: 3.2rem 2rem;
    width: calc(100% / 2 - 24px / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--backgroundC);
    border-radius: 8px;
    gap: 32px;
}

.cards-popup__card-icon--inner, .cards-popup__card-icon--skeleton{
    width: 100%;
    max-width: 290px;
    height: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
}

.cards-popup__card-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards-popup__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
}

.cards-popup__link {
    font-weight: 500;
    transition: .3s;
}

.cards-popup__link:hover {
    color: var(--mainC);
}

.cards-popup__button--skeleton{
    width: 257px;
    height: 46px;
}

.cards-popup__link--skeleton{
    width: 97px;
    height: 19px;
}

@media (max-width:1080px) {
    .cards-popup__btns {
        gap: 24px;
    }
}
@media (max-width:998px) {
    .cards-popup__item {
        gap: 24px;
    }
}
@media (max-width:992px) {
    .cards-popup__btns {
        flex-direction: column;
        gap: 20px;
    }
}
@media (max-width:768px) {
    .cards-popup__btns {
        flex-direction: row;
        gap: 24px;
    }

    .cards-popup__item {
        gap: 20px;
    }

    .cards-popup__item {
        width: 100%;
    }
}
@media (max-width: 480px) {
    .cards-popup__btns {
        flex-direction: column;
        gap: 20px;
    }

    .cards-popup__button, .cards-popup__button--skeleton{
        width: 100%;
    }

    .cards-popup__button--skeleton{
        height: 42px;
    }

    .cards-popup__link {
        font-size: 1.4rem;
    }

    .cards-popup__card-icon--inner, .cards-popup__card-icon--skeleton{
        width: 240px;
        height: 153px;
    }

    .cards-popup__link--skeleton{
        width: 85px;
        height: 18px;
    }
}
@media (max-width:370px) {
    .cards-popup__item {
        padding: 2.4rem 1.2rem;
    }
}