.sidebar-tab{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    padding: 0.8rem 1.2rem;
    border-radius: 4px;
    transition: .2s linear;
    background: var(--backgroundC);
    cursor: pointer;
}

.sidebar-tab__text{
    font-weight: 500;
}

.sidebar-tab.active, .sidebar-tab:hover {
    background: var(--creditCardBg);
}

.sidebar-tab svg {
    width: 24px;
}

.sidebar-tab svg path{
    stroke: var(--mainC);
}