/* Notifies */
.notifies {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    max-width: 500px;
    padding: 4px;
}

.notifies__item {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding: 1.6rem 2rem 2rem;
    cursor: pointer;
    position: relative;
}

.notify-warning{
    background: #FEF5E4;
}

.notify-warning .notify__progress{
    background: var(--notifyWarning);
}

.notify-ok{
    background: #DBF5EB;
}

.notify-ok .notify__progress{
    background: var(--notifyOk);
}

.notify-error{
    background: #FDE2E2;
}

.notify-error .notify__progress{
    background: var(--notifyError);
}

.notify-info{
    background: #DCEAFB;
}

.notify-info .notify__progress{
    background: var(--notifyInfo);
}

.notify__progress{
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: fadeOut 2s linear;
}

@keyframes fadeOut{
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

.notifies__item svg {
    width: 24px;
}

.notify-warning svg path {
    stroke: var(--notifyWarning);
}

.notify-ok svg path {
    stroke: var(--notifyOk);
}

.notify-error svg path {
    stroke: var(--notifyError);
}

.notify-info svg path {
    stroke: var(--notifyInfo);
}

.notifies__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
}

.notifies__title {
    font-weight: 600;
    font-size: 14px;
}

.notifies__text {
    font-weight: 400;
    font-size: 14px;
}

@media (max-width:998px) {
    .notifies {
        width: 75%;
    }

    .notifies__item {
        padding: 1.2rem 1.6rem 1.6rem;
        gap: 12px;
    }
}
@media (max-width:768px) {
    .notifies__item {
        padding: 0.8rem 1.2rem 1.2rem;
        gap: 8px;
    }
}
@media (max-width:480px) {
    .notifies {
        width: 100%;
    }
}