.card__item{
    width: 100%;
    padding: 3.2rem;
    border-radius: 8px;
    background: var(--backgroundC);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.card__item--for{
    background: var(--creditCardBg);
    padding: 1.2rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.card__item--for svg{
    width: 24px;
}

.card__item--content{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.card__item--box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card__item--img--inner{
    width: 100%;
    max-width: 291px;
    display: flex;
}

.card__item--img{
    flex-shrink: 0;
    max-width: 100%;
}

.card__item--title{
    font-size: 2.8rem;
    font-weight: 600;
}

.card__item--text{
    margin-top: 2.4rem;
    font-weight: 500;
    max-width: 600px;
}

.card__item--points{
    width: 100%;
    margin-top: 4rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
}

.card__item--point{
    width: calc(100% / 3 - 48px / 3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.card__item--point--title{
    font-size: 2rem;
    font-weight: 600;
}

.card__item--buttons{
    display: flex;
    align-items: center;
    gap: 64px;
}

.card__item--button{
    color: var(--mainC);
    font-size: 1.8rem;
    font-weight: 500;
}

@media(max-width: 1050px){
    .card__item--point{
        width: calc(100% / 2 - 24px / 2);
    }
}
@media(max-width: 850px){
    .card__item--point{
        width: 100%;
    }
}
@media(max-width: 768px){
    .card__item--content{
        flex-direction: column-reverse;
        align-items: center;
    }

    .card__item--point{
        width: calc(100% / 2 - 24px / 2);
    }

    .card__item{
        padding: 2rem;
        gap: 28px;
    }

    .card__item--title{
        font-size: 2.4rem;
    }
}
@media(max-width: 550px){
    .card__item--point{
        width: 100%;
    }
}
@media(max-width: 480px){
    .card__item--buttons{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .card__item--button--event{
        width: 100%;
        text-align: center;
    }

    .card__item{
        padding: 2rem 2rem 4rem 2rem;
    }

    .card__item--content{
        gap: 24px;
    }
}
@media(max-width: 375px){
    .card__item--title{
        font-size: 2rem;
    }

    .card__item--point--title{
        font-size: 1.8rem;
    }

    .card__item--for--icon{
        width: 20px;
    }

    .card__item--point--text, .card__item--for--text, .card__item--text{
        font-size: 1.4rem;
    }
}