:root{
	font-size: 10px;
	--mainC: #1373E5;
	--mainHoverC: #206AC2;
	--mainFocusC: #3D91F4;
	--backgroundC: #F5F7FA;
	--textC: #42464B;
	--borderC: #EAF1F9;
	--inputC: #CED7E0;
	--green: #10B97B;
	--creditCardBg: #E7F1FC;
	--weatherLightC: #87919C;
}

body{
	padding: 0;
	overflow-x: hidden;
	font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

#root{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100vh;
}

*,
*:after,
*:before{
	box-sizing: border-box;
    margin: 0;
}

svg, path, a, button, input, textarea, select{
	transition: .2s linear;
}

a, button, input, textarea, select{
	font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

a{
	text-decoration: none;
	color: #000;
}

ul{
	padding: 0;
}

li{
	list-style-type: none;
}

h1, h2, h3, h4, h5, h5, p{
	font-weight: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	appearance: none;
}

.button, .input{
	border: none;
	cursor: pointer;
	background: none;
	outline: none;
}

.input{
	cursor: text;
}

.input::placeholder{
	color: rgba(0, 0, 0, .5);
}

.input:focus::placeholder{
	opacity: 0;	
}

.container{
	width: 100%;
	max-width: 1190px;
	margin: 0 auto;
	padding: 0 15px;
}

.block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 50px;
}

.checkbox{
	display: none;
}

.checkbox:checked + label:after{
	opacity: 1;
}

/* Адаптив */
@media(max-width: 1200px){
	.container{
		max-width: 978px;
	}
}
@media(max-width: 998px){
	.container{
		max-width: 748px;
	}
}
@media(max-width: 768px){
	.container{
		max-width: 460px;
	}
}
@media(max-width: 480px){
	.container{
		max-width: 300px;
	}
}