:root{
	font-size: 10px;
	--mainC: #1373E5;
	--mainHoverC: #206AC2;
	--mainFocusC: #3D91F4;
	--backgroundC: #F5F7FA;
	--textC: #42464B;
	--borderC: #EAF1F9;
	--inputC: #CED7E0;
	--green: #10B97B;
	--creditCardBg: #E7F1FC;
	--weatherLightC: #87919C;
	--cashBackItemC : #333;
	--cashBackItemLightC : #EAECEE;
	--errorHover: #d42b2b;
	--submenuItemHoverC: #CFE6FF;

	/* Цвета уведомления */
	--notifyWarning: #FABD48;
	--notifyOk: #10B97B;
	--notifyError: #EF3B3B;
	--notifyInfo: var(--mainC);

	/* Цвета карт */
	--cardBlackC: #000;
	--cardJuniorC: #FF8C1B;
	--cardPlatinumC: #9d9d9d;
	--cardDriveC: #7FB56C;
	--cardDefaultC: #42464b;
}

body{
	padding: 0;
	overflow-x: hidden;
	font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

#root{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100vh;
}

*,
*:after,
*:before{
	box-sizing: border-box;
    margin: 0;
}

svg, path, a, button, input, textarea, select{
	transition: .2s linear;
}

a, button, input, textarea, select{
	font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

a{
	text-decoration: none;
	color: #000;
}

ul{
	padding: 0;
}

li{
	list-style-type: none;
}

h1, h2, h3, h4, h5, h5, p{
	font-weight: normal;
	font-size: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	appearance: none;
}

.button, .input{
	border: none;
	cursor: pointer;
	background: none;
	outline: none;
}

.input{
	cursor: text;
}

.input::placeholder{
	color: rgba(0, 0, 0, .5);
}

.container{
	width: 100%;
	max-width: 1190px;
	margin: 0 auto;
	padding: 0 15px;
}

.ibg {
	position: relative;
}

.ibg > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.title {
	font-weight: 700;
	font-size: 2.8rem;
	color: #000;
}

::-webkit-scrollbar{
	width: 0px;
}

.block{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 50px;
}

.checkbox{
	display: none;
}

.checkbox:checked + label:after{
	opacity: 1;
}

.skeleton__content{
	width: 100%;
	height: 100%;
}

.swiper__inner{
	width: 100%;
}

.w100{
	width: 100%;
}

.red{
	color: var(--notifyError);
}

.center{
	text-align: center;
}

.medium{
	font-weight: 500;
}

@media (max-width:992px) {
	.title {
		font-size: 2.4rem;
	}
}

@media (max-width:768px) {
	.title {
		font-size: 2rem;
	}
}