.profile__content.admin__content {
    justify-content: flex-start;
    gap: 16px;
}

.admin__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 12px;
}

@media (max-width:998px) {
    .admin__header_users {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column-reverse;
    }
}

@media (max-width:480px) {
    .admin__btn span{
        display: none;
    }
}

.admin__title {
    font-weight: 600;
    font-size: 18px;
}

@media (max-width:768) {
    .admin__title {
        font-size: 17px;
    }
}

@media (max-width:480px) {
    .admin__title {
        font-size: 16px;
    }
}

.limit {
    display: flex;
    align-items: center;
    gap: 16px;
}

@media (max-width:998px) {
    .limit {
        width: 100%;
        justify-content: space-between;
    }
}

.limit__label {
    font-weight: 600;
    font-size: 14px;
}

.admin__items {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    flex: 1;
}

.item-admin {
    background-color: #fff;
    width: 100%;
    border-radius: 4px;
}

.item-admin__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 12px;
    gap: 20px;
}

.item-admin__title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.item-admin__number {
    background-color: var(--creditCardBg);
    width: 32px;
    height: 32px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    color: var(--mainC);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

@media (max-width:480px) {
    .item-admin__number {
        width: 24px;
        height: 24px;
        font-size: 14px;
    }
}

.item-admin__name {
    font-weight: 600;
    font-size: 16px;
}

@media (max-width:480px) {
    .item-admin__name {
        font-size: 14px;
    }
}

.item-admin__open-btn {
    width: 32px;
    height: 32px;
    background-color: var(--creditCardBg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

@media (max-width:480px) {
    .item-admin__open-btn {
        width: 24px;
        height: 24px;
    }
}

.item-admin__arrow {
    width: 18px;
    height: 18px;
    stroke: var(--mainC);
    flex-shrink: 0;
}

@media (max-width:480px) {
    .item-admin__arrow {
        width: 14px;
        height: 14px;
    }
}

.item-admin.active .item-admin__arrow {
    transform: rotate(-180deg);
}

.item-admin__content {
    display: none;
    padding: 12px 12px 20px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
}

.item-admin.active .item-admin__content {
    display: flex;
}

.section-admin {
    background-color: var(--backgroundC);
    border-radius: 4px;
    width: 100%;
}

.section-admin__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 8px;
}

.section-admin__title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 1.4rem;
}

.section-admin__title svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.verify__not path{
    stroke: var(--notifyError);
}

.verify__process path{
    stroke: var(--notifyWarning);
}

.verify__success path{
    stroke: var(--notifyOk);
}

.section-admin__arrow {
    width: 16px;
    height: 16px;
    stroke: #000;
    flex-shrink: 0;
}

.section-admin.active .section-admin__arrow {
    transform: rotate(-180deg);
}

.section-admin__content {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding: 8px 8px 16px;
}

.section-admin.active .section-admin__content {
    display: flex;
}

.section-admin__items{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
}

.section-admin__item {
    background-color: var(--creditCardBg);
    width: calc(100% / 2 - 12px / 2);
    padding: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
}

@media (max-width:480px) {
    .section-admin__item {
        width: 100%;
    }
}

.section-admin__item_full {
    width: 100%;
}

.section-admin__label {
    font-weight: 500;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
}

.section-admin__value {
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.section-admin__text {
    font-weight: 500;
    font-size: 14px;
}

.section-admin__item_card {
    width: 100%;
    padding: 16px 8px;
    gap: 8px;
}

@media (max-width:768px) {
    .item-admin__header, .section-admin__header{
        cursor: default;
    }
}

.section-admin__item_card .section-admin__text-btn {
    align-self: start;
}

.section-admin__card-img-inner{
    width: 150px;
    height: 95px;
    border-radius: 6px;
    overflow: hidden;
    margin: 0 auto;
}

.section-admin__card-img-inner.left{
    margin: 0;
}

.section-admin__card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-admin__card-items {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin: 1.2rem 0;
}

.section-admin__card-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: calc(100% / 2 - 8px / 2);
}

.section-admin__card-item_full {
    width: 100%;
}

.section-admin__copy-icon {
    width: 16px;
    height: 16px;
    stroke: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    flex-shrink: 0;
}

.section-admin__text-btn {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--notifyError);
    align-self: center;
    cursor: pointer;
    transition: .2s linear;
}

.section-admin__text-btn:hover {
    opacity: 0.7;
}

.section-admin__text-btn_blue {
    color: var(--mainC);
}

.pagination {
    margin: 0 auto;
    margin-top: auto;
}

.admin__create--type--inner, .admin__create--type--content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.admin__create--type--content{
    gap: 16px;
    flex: 1;
}

.admin__create--type--button{
    margin: 0 auto;
    margin-top: auto;
}

.admin__verify--buttons{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.admin__verify--button{
    min-width: 175px;
}