.number__btns {
    display: flex;
    gap: 8px;
    transition: .2s linear;
}

.number__btns.disabled{
    opacity: 0.5;
    pointer-events: none;
}

.number__btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--creditCardBg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: .2s linear;
    flex-shrink: 0;
}

.number__btn.disabled{
    pointer-events: none;
    background: #d7d7d7;
}

.number__btn.dots{
    background: none;
}

@media (max-width:400px) {
    .dots {
        display: none;
    }
}

.number__btn svg{
    width: 16px;
    flex-shrink: 0;
}

.number__btn:hover svg path{
    stroke: #fff;
}

@media (max-width:480px) {
    .number__btn {
        width: 28px;
        height: 28px;
    }
    
    .number__btn svg {
        width: 14px;
    }
}

.number__btn.active, .number__btn:hover{
    background-color: var(--mainC);
    color: #fff;
}